
<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Fwitter!</h1>
     <img alt="The Flatiron School | Digital.NYC" class="n3VNCb" src="https://www.digital.nyc/sites/default/files/company/logo/b07d0f-FS_Circle_Slashes.png" data-noaft="1" jsname="HiaYvf" jsaction="load:XAeZkd;" style="width: 400px; height: 400px; margin: 0px;">
      <h2>This is located in layout.erb!</h2>
      <h2>Don't forget to <strong>yield</strong> your views!</h2>
      
      <%= yield %>
    </div>

  </body>
</html>
