<h1>Please Sign Up for Fwitter!</h1>
<form method="POST" action="/signup">
<h3>Please enter a username: <input type="text" name="username"></h3>
<h3>Please enter a valid email address: <input type="text" name="email"></h3>
<h3>Please enter a secure password: <input type="password" name="password"></h3>
<input type="submit" value="Sign Up">
</form>